
.jumbotron{ background-color: #D2D2D2;
                            
}
 h1{
     font-family:Roboto, Helvetica, sans-serif;
     letter-spacing: 30px;
 }
  h2{
      font-family:Cookie, Helvetica, sans-serif;
      font-size:50px;
  }
.navbar {
      margin-bottom: 50px;
      border-radius: 0;

    }
li{
     list-style-type: none;
     display: inline;
     margin-right: 30px;
   
 }
    footer {
      background-color: #E4E4E4;
      padding: 25px;
    }
      